{% extends 'base.html.twig' %}

{% block title %}Véhicules{% endblock %}

{% block body %}
    <h1>Liste des véhicules</h1>

    {# Afficher le formulaire de recherche #}
    {{ form_start(form) }}
        {{ form_row(form.marque) }}
        {{ form_row(form.prixMin) }}
        {{ form_row(form.prixMax) }}
        {{ form_row(form.rechercher) }}
    {{ form_end(form) }}

    <h2>Véhicules disponibles</h2>
    <ul>
        {% for vehicule in vehicules %}
            <li>{{ vehicule.marque }} - {{ vehicule.prix }}€ / jour</li>
        {% else %}
            <p>Aucun véhicule trouvé avec les critères spécifiés.</p>
        {% endfor %}
    </ul>
{% endblock %}